@import url(http://fonts.googleapis.com/css?family=Oswald:700);
@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);


$work: #2980b9;
$home: #e74c3c;
$poi: #8e44ad;

$white: #FFF;
$soft-grey:rgb(236, 240, 241);
$silver:rgb(189, 195, 199);
$blue: rgba(52, 152, 219,1.0);
$sunflower:rgb(241, 196, 15);
$asphalt:rgb(52, 73, 94);
$midnight-blue:rgb(44,62,80);
$dark-grey: rgb(189, 195, 199);
$light-green: #2ECC71;

/* ==========================================================================
   3. BASE
   ========================================================================== */
html {
  box-sizing: border-box;
  font-size: 62.5%;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  opacity: 1;
  font-family: "Montserrat", sans-serif;
  font-size:1.5rem;
  letter-spacing:0.01em;
  word-wrap:break-word;
  text-rendering:optimizeLegibility;
  line-height: 1.45;
  margin:0;
}
h1, h2, h3,
h4, h5, h6 {
  line-height: 1.15em;
}
h1 {
  font-size: 3rem;
  letter-spacing: -2px;
  text-indent: -3px;
}
h2 {
  font-size: 3.4rem;
  letter-spacing: 2px;
}
h3 {
  font-size: 3.2rem;
}
h4 {
  font-size: 1.6rem;
}
h5 {
  font-size: 2rem;
  margin-bottom:0.2em;
}
h6 {
  font-size: 2rem;
}
a {
  color:inherit;
  text-decoration:none;
}

/* ==========================================================================
   3. Utilities
   ========================================================================== */
.svg-container {
  display: inline-block;
  position: relative;
  width: 100%;
  padding-bottom: 100%; /* aspect ratio */
  vertical-align: top;
  overflow: hidden;
}
.svg-content-responsive {
  display: inline-block;
  position: absolute;
  top:5px;
  left: 0;
  shape-rendering: auto;
}

.line {
  fill: none;
  stroke-width: 2px;
}

/* ==========================================================================
   3. MAP
   ========================================================================== */

.content {
  display:flex;
  flex-direction:column;
  width:100%;
  height:100vh;
  margin:0;
  padding:0;
}

/* ==========================================================================
   3. MAP
   ========================================================================== */

.map-container {
  flex:1;
}
/* ==========================================================================
   3. Graph
   ========================================================================== */
.graph-container {
  display:flex;
  position:absolute;
  height:150px;
  width:100%;
  bottom:30px;
  z-index:1;
}

.axis path,
.axis line {
  fill: none;
  shape-rendering: crispEdges;
}
.tick text {
  fill: $white;
  font-size: 1.1rem;
}
.area {
  stroke-width: 0;
  stroke:none;
  cursor:pointer;
  opacity:.5;
}
.graph-title {
  fill: $white;
}

/* ==========================================================================
   3. Legend
   ========================================================================== */

.legend {
  display:flex;
  position:absolute;

  height:30px;
  bottom:0;
  width:100%;
  justify-content:center;
  align-items:center;
  z-index:1
}
.legend:before {
  content:"";
  position: absolute;
  background: rgba(255, 255,255, 0.5);
  left:0;
  height:30px;
  width:100%;
  bottom:0;
  z-index:-1;
}
.legend-item {
  display:flex;
  flex-direction:row;
  align-items:center;
  padding: 0 10px;
  opacity: .7;
  font-size:1.2rem;
  cursor:pointer;
}
.legend-item:hover {
  opacity: 1;
}
.legend-item:focus {
  opacity:1;
}
.legend-marker {
  display:block;
  width:30px;
  height:15px;
}
.legend-item#work .legend-marker{
  background-color:$work;
}
.legend-item#home .legend-marker{
  background-color:$home;
}
.legend-item#poi .legend-marker{
  background-color:$poi;
  border-radius:999px;
  width:15px;
  height:15px;
}
.legend-text {
  padding-left: 10px;
}


@media only screen and (max-width: 600px) {
  .graph-container {
    height:100px;
  }
  .tick text {
    font-size: 1rem;
  }
}
